<footer class="footer">
  <p>
    &copy; 2026 The ZeroFog. All rights reserved.<br>
    <a href="#">Privacy Policy</a> &middot; <a href="#">Terms</a><br>
    This site is not a part of the Facebook website or Facebook Inc.
  </p>
</footer>
